@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Library.Models.Book

@{
    ViewData["Title"] = @Localizer["BookDetails"];
}

<h1>@Localizer["BookDetails"]</h1>
<div class="details-container">
    <div class="details">
        <p>
            @if (!string.IsNullOrEmpty(Model.Cover))
            {
                <img src="@Model.Cover" alt=@Localizer["Cover"] width="50" />
            }
        </p>
        <p><strong>@Localizer["Title"]</strong> @Model.Title</p>
        <p><strong>@Localizer["Author"]</strong> @Model.Author</p>    
        <p><strong>@Localizer["Category"]</strong> @Model.Category</p>
        <p><strong>@Localizer["ISBN"]</strong> @Model.ISBN</p>
        <p><strong>@Localizer["ReleaseDate"]</strong> @Model.ReleaseDate</p>
        <p><strong>@Localizer["Description"]</strong> @Model.Description</p>
    </div>

    <div class="files">
        @if (Model.Files.Count > 0)
        {
            <h3>@Localizer["DownloadFiles"]</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>@Localizer["Name"]</th>
                        <th>@Localizer["Description"]</th>
                        <th>@Localizer["Action"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.Files)
                    {
                        <tr>
                            <td>@file.FileName</td>
                            <td>@file.Description</td>
                            <td>
                                <a href="@file.FilePath" class="btn btn-primary" download>@Localizer["Download"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<a asp-action="Index">@Localizer["BackToList"]</a>
