@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Lista Książek";
}

<h1>@Localizer["BookList"]</h1>

<label for="category">@Localizer["SelectCategory"]</label>
<form method="get" asp-action="Index" class="mb-3 search">
    
    <select id="category" name="categoryId" class="form-control">
        @if (ViewBag.SelectedCategory != null)
        {
            <option value="@ViewBag.SelectedCategory.Id" hidden>@ViewBag.SelectedCategory.Name</option>
        }
        <option value="0">@Localizer["All"]</option>
        @foreach (var category in ViewBag.Categories as SelectList)
        {
            <option value="@category.Value">@category.Text</option>
        }
    </select>
    <br />
    <input type="text" id="searchQuery" name="query" placeholder=@Localizer["SearchBook"] value="@ViewBag.query" class="form-control" />
    <button type="submit" class="btn btn-primary">@Localizer["Search"]</button>
</form>

<h1>@Localizer["SearchResults"]</h1>


<div id="searchResults">
    @await Html.PartialAsync("_SearchResults", (List<Book>)Model)
    @* <partial name="_SearchResults" /> *@
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            let timeout;

            function performSearch() {
                clearTimeout(timeout);
                var query = $('#searchQuery').val();
                var categoryId = $('#category').val(); 

                timeout = setTimeout(function () {
                    $.ajax({
                        url: '@Url.Action("Search2", "Book")',
                        type: 'GET',
                        data: { query: query, categoryId: categoryId }, 
                        success: function (data) {
                            $('#searchResults').html(data);
                        },
                        error: function () {
                            alert('Wystąpił błąd.');
                        }
                    });
                }, 300); // 300 ms opóźnienia
            }

            // Obsługa wpisywania w pole wyszukiwania
            $('#searchQuery').on('input', function () {
                performSearch();
            });

            // Obsługa zmiany kategorii
            $('#category').on('change', function () {
                performSearch();
            });
        });
    </script>
}