@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Library.Models.Borrow>

@{
    ViewData["Title"] = @Localizer["MyBorrows"];
}

<h1>@Localizer["MyBorrows"]</h1>

@if (!Model.Any())
{
    <p>@Localizer["NoBorrows"]</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Title"]</th>
                <th>@Localizer["BorrowDate"]a</th>
                <th>@Localizer["ReturnDate"]</th>
                <th>@Localizer["Status"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var borrow in Model)
            {
                <tr>
                    <td>@borrow.Book.Title</td>
                    <td>@borrow.BorrowDate?.ToString("yyyy-MM-dd")</td>
                    <td>@(borrow.ReturnDate.HasValue ? borrow.ReturnDate.Value.ToString("yyyy-MM-dd") : "Brak")</td>
                    <td>
                        @if (borrow.Status == BorrowStatus.Returned)
                        {
                            <span class="badge bg-success">@Localizer["Returned"]</span>
                        }
                        else
                        {
                            <span class="badge bg-warning">@Localizer["Borrowed"]</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}