@model Book


<div class="book-card">
    <div onclick="location.href='@Url.Action("Details", "book" , new { id = Model.Id })'">
        @if (!string.IsNullOrEmpty(@Model.Cover))
        {
            <img src="@Model.Cover" alt="Okładka" />
        }
        <h3><strong>Tytuł:</strong> @Model.Title</h3>
        <p><strong>Autor:</strong> @Model.Author</p>
        <p><strong>Kategoria:</strong> @Model.Category</p>
    </div>
    <button class="btn btn-success add-to-cart" data-id="@Model.Id" onclick="">
        Dodaj do koszyka
    </button>
</div>


