@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<Library.Models.CartItem>

@{
    ViewData["Title"] = @Localizer["Cart"];
}

<h1>@Localizer["YourCart"]</h1>

@if (!Model.Any())
{
    <p>@Localizer["EmptyCart"]</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Cover"]</th>
                <th>@Localizer["Title"]</th>
                <th>@Localizer["Author"]</th>
                <th>@Localizer["ISBN"]</th>
                <th>@Localizer["Action"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Cover))
                        {
                            <img src="@item.Cover" alt=@Localizer["Cover"] width="50" />
                        }
                    </td>
                    <td>@item.Title</td>
                    <td>@item.AuthorName</td>
                    <td>@item.ISBN</td>
                    <td>
                        <a asp-action="RemoveFromCart" asp-route-bookId="@item.BookId" class="btn btn-danger">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-action="BorrowBooks" method="post">
        <button type="submit" class="btn btn-primary">@Localizer["BorrowBooks"]</button>
    </form>
}
